body {
    font-family: "Roboto", sans-serif;
}

.cabecalho {
    background: linear-gradient(to bottom, #A8BBA5 0%, #eff3ee 100%);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 60px;
}

.cabecalho img {
    width: 20vw;         /* 20% da largura da tela */
    max-width: 300px;    /* nunca maior que 300px */
    min-width: 120px;    /* nunca menor que 120px */
    height: auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container .produtos {
    color: #E2952D;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: 2px;
}

.container .filtros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.container .categorias-bolsas,
.container .preco-bolsas {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.container label {
    letter-spacing: 2px;
    font-weight: 500;
    color: #E2952D;
}

.container .categorias-bolsas select,
.container .preco-bolsas input {
    padding: 16px 13px;
    border-radius: 2px;
    border: 2px solid #888888;
    background-color: #f2eefa;
    color: #130234;
    height: 52px;
}

.container select:focus,
.container input:focus,
.container select:focus-visible,
.container input:focus-visible {
    outline: none;
}

.container select.categoria {
    appearance: none;
    background: url(../imagens/seta-para-baixo.png) 97% center no-repeat;
}

.container .filtros .btn-filtrar {
    border: none;
    background-color: #E2952D;
    color: #ededed;
    padding: 16px 32px;
    font-weight: 500;
    align-self: end;
    height: 52px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}

.container .filtros .btn-filtrar:hover {
    background-color: #888888;
}

.container .bolsas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
}

.container .bolsas .bolsa {
    max-width: 365px;
    background-color: #ededed;
    color: #0e0027;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.2);
}

.container .bolsa {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.container .bolsa .imgBolsa{
    width: 70%;
    margin: 0 auto;
   
}

.container .bolsa .informacoes {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container .bolsa .informacoes .nome-personagem {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}

.container .bolsa .informacoes .categoria {
    color: #7e7e7e;
    font-weight: 700;
}

.container .bolsa .informacoes .preco {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #4d8e5c
}

.container .bolsa .informacoes .btn-comprar {
    color: #ededed;
    background-color: #E2952D;
    padding: 16px;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;

}

.container .bolsa .informacoes .btn-comprar:hover {
    background-color: #888888;
}

.container .formasDePagamento{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container .formasDePagamento img{
    max-width: 100%;
    height: auto;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: #A8BBA5;
    color: #ededed;
    padding: 20px;
    margin-top: 60px;
}

.esconder {
    display: none;
}

.mostrar {
    display: block;
}